#inventoryTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}
#inventoryTable th, #inventoryTable td {
  border: 1px solid #ccc;
  padding: 8px;
}
#inventoryTable th {
  background-color: #04AA6D;
  color: white;
}