.navbar {
  overflow: hidden;
  background-color: #333;
}
.navbar a {
  float: left;
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}
.navbar a:hover {
  background-color: #04AA6D;
}
